@mixin button($padding, $font-size, $border-radius) {
  background-color: var(--color-primary);
  color: var(--color-neutral);
  border: none;
  border-radius: $border-radius;
  padding: $padding;
  font-family: "Nunito Sans", sans-serif;
  font-size: $font-size;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.50);
  transition: 0.3s;

  &:hover {
    background: var(--color-contrast);
    color: var(--color-secondary);
  }
}

@mixin buttonWarning($padding, $font-size, $border-radius) {
  background-color: var(--color-primary);
  color: var(--color-neutral);
  border: none;
  border-radius: $border-radius;
  padding: $padding;
  font-family: "Nunito Sans", sans-serif;
  font-size: $font-size;
  font-weight: 600;
  text-decoration: none;
  text-align: center;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.25);
  transition: 0.3s;

  &:hover {
    background: var(--color-warning);
    color: var(--color-neutral);
  }
}

@mixin forms-display {
  display: flex;
  flex-direction: column;
  padding: 4rem 7rem;
  font-size: 1.5rem;

  .form__field, .form__field--register {
    border: none;
    display: flex;
    flex-direction: column;
    width: 32rem;
    position: relative;
  }

  .field__error {
    position: absolute;
    top: 0.2rem;
    right: 0;
    font-size: 0.8rem;
    font-family: 'SF-Pro-Text-Bold', sans-serif;
    padding: 0.3rem;
    background-color: var(--color-warning);
    border-radius: 0.5rem 0.5rem 0.5rem 0.5rem;
    box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.20);
    color: var(--color-neutral);
    // Set animation
    animation: shakeError 0.3s ease-in-out;
    animation-iteration-count: 1;
  }

  .field__input.error {
    border-color: var(--color-warning);
    animation: shakeError 0.3s ease-in-out;
    animation-iteration-count: 1;
  }

}

@mixin input-style {
  width: 32rem;
  height: 3.5rem;
  margin: 0.1rem 0 2rem 0;
  padding-left: 1rem;
  border: 0.3rem solid var(--color-primary);
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-family: 'SF-Pro-Text-Bold', sans-serif;
  color: var(--color-contrast);
  outline: none;
  box-shadow: 0 2px 8px 1px rgba(0, 0, 0, 0.20);

  &::placeholder {
    color: var(--color-secondary);
  }
}

@mixin button-panel {
  width: 20rem;
  height: 20rem;
  background-color: var(--color-primary);
  border-radius: 0.5rem;
  color: var(--color-neutral);
  font-size: 1.5rem;
  font-family: 'SF-Pro-Text-Bold', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  box-shadow: 0 4px 10px 1px rgba(20, 20, 20, 0.50);
}
